<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Photo Uploaded to Schlachet.it</h1>
    <p>
      Login now to view it! <%= link_to "Schlachet.it", "http://schlachet.it" %>.<br/>
    </p>
  </body>
</html>