
<% if user_signed_in? %>
<h1> Time to upload some photos...</h1>
<br>
<% else %>
<div class="hero-unit">
	<h1>
	Schlachet.it</h1>
	<p>
		<br>
	
	When you find a funny photo online just <%= link_to "Schlachet.it", "http://schlachet.it" %>
	</p>
	<br>
	<p>
	<%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
	</p>
</div>
<% end %>
